<!-- <div class="jumbotron">
  <h1>Welcome Cat2Nappers!</h1>
</div>



<h3 style="text-align:center">Click on the cat you'd like to sit, meow! *^_^*</h3>

<br>
<div class="row">
  <div class="col-sm-3">
    <div>
      <a href="#" class="thumbnail">
        <img src="http://images5.fanpop.com/image/photos/28100000/Kitty-animal-cubs-28185428-600-408.jpg" alt="kitty 1">
      </a>
    </div>

  </div>

  <div class="col-sm-3">
    <div>
      <a href="#" class="thumbnail">
        <img src="http://www.lovethispic.com/uploaded_images/22307-Pretty-Kitty.jpg" alt="kitty 2">
      </a>
    </div>

  </div>

  <div class="col-sm-3">
    <div>
      <a href="#" class="thumbnail">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh-NMXSJqGr74Dd0btG9GLOYPHn_FrNGRJiOpS8wnAqd5XX3h3eQ" alt="...">
      </a>
    </div>

  </div>

  <div class="col-sm-3">
    <div>
      <a href="#" class="thumbnail">
        <img src="http://kittykollar.com/wp-content/uploads/2015/11/Natacha-from-Finland-in-her-leopard-Kollar..jpg" alt="...">
      </a>
    </div>

  </div>

</div>



<br>
<br> -->
