<div class="jumbotron">
  <h1>Welcome to Cat*Nappers!</h1>
</div>

<h3 style="text-align:center">Click on the cat you'd like to sit, meowwww *^_^*</h3>

<% @cats.each do |c| %>
<div class="image">
<%= link_to (image_tag c.cat_pic), cat_path(c) %>
</div>
<br>
<% end %>
